<ng-template #loading>
    <div class="loading">
        <img src="/assets/img/loading.jpg" alt="carregando">
        <p>carregando...</p>
    </div>
</ng-template>
<ng-template #messageAvailable>
    <div class="container">
        <div class="container-chat">
            <!-- <div class="container-usuarios">
                <div class="header">
                    <div class="pesquisa">
                        <ion-icon class="icones" name="search"></ion-icon>
                        <input type="text">
                    </div>
    
                    <ion-icon class="icones" name="ellipsis-vertical"></ion-icon>
    
                </div>
    
                <div class="listagem-usuarios">
    
                    <div class="usuario" *ngFor="let info of informacoes">
                        <ion-icon class="foto-usuario" name="person-circle"></ion-icon>
                        <p class="nome-usuario"> {{info.id +" : "+ info.host}} </p>
                    </div>
    
                    
                </div>
    
            </div> -->
            <div class="container-mensagens">
                <div class="header-mensagem">
                    <ion-icon class="foto-usuario" name="person-circle"></ion-icon>
                    <h3>{{user.nome}}</h3>

                </div>
                <div class="mensagens">
                    <div *ngFor="let message of messages" [ngClass]="{'m': message.type===1, 'r': message.type===2}">
                        <ng-container *ngIf="!message.midia.audio && isNotEmptyString(message.content)">
                            <div id="mensagem" [ngClass]="{'send-mensagem': message.type===1, 'recepted-mensagem': message.type===2}">
                                <p class="nome-usuario-mensagem">
                                    {{message.type===1? "Você:": message.user.nome + ":" }}
                                </p>
                                {{message.content}}

                            </div>
                            <div class="horario-mensagem">
                                <p>{{message.horario }}
                                </p>
                            </div>
                        </ng-container>
                        
                        <ng-container *ngIf="message.midia.audio">
                            <div  id="mensagem" [ngClass]="{'send-mensagem': message.type===1, 'recepted-mensagem': message.type===2}">
                            <p class="nome-usuario-mensagem">
                                {{message.type===1? "Você:": message.user.nome + ":" }}
                            </p>
                            <div class="player-container">
                                <button  class="button-play-pause" (click)="onPlayOrStop(message)" >
                                    <ion-icon class="icons-player" [name]="'play'"></ion-icon>
                                </button>
                                <input 
                                    class="timeline"
                                    step="0.01"
                                    type="range" 
                                    name="audio"
                                    id="progress-bar"
                                    min="0"
                                    [max]="message.midia.audio.duration"
                                    [(ngModel)]="message.midia.audio.currentTime"
                                />
                            </div>

                        </div>
                        <div class="horario-mensagem">
                            <p>{{message.horario }}</p>
                        </div>

                        </ng-container>
                        
                    </div>

                </div>
                <div class="footer">
                    <div class="envio">
                        <ion-icon class="icones-message" name="apps-outline"></ion-icon>
                        <input *ngIf="!gravando" type="text" placeholder="Digite uma mensagem..."
                            [(ngModel)]="message.content" (keypress)="enviarMensagem($event)">

                        <div class="audio" *ngIf="gravando">
                            <button style="background-color: transparent;">
                                <ion-icon class="icones-gravacao" name="trash"></ion-icon>
                            </button>
                            <button style="background-color: transparent;">
                                <ion-icon class="icones-gravacao" [name]="gravando?'pause': 'play'"></ion-icon>
                            </button>

                            <div id="duration">
                                00:00
                            </div>
                        </div>

                        <button *ngIf="!gravando" style="background-color: transparent;">
                        <ion-icon  class="icones-envio"
                            (click)="enviarMensagemClicando()" name="send"></ion-icon>
                        </button>

                        <button style="background-color: transparent; margin-left: 15px;">
                            <ion-icon class="icones-envio" (click)="enviarAudio()"
                                [name]="gravando?'send': 'mic'"></ion-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-container *ngTemplateOutlet="connection? messageAvailable : loading "></ng-container>
